

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 18px;
    text-align: center;
  }
  
  input {
    width: 290px;
    padding: 10px;
    border: 2px solid #ddd;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
    /* margin: auto; */
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 9px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  #list {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 350px;
  }
  
  #list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #list li button.delete {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 11px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  #list li button.delete:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
  }
  